html, body {
  height: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', Hiragino Kaku Gothic ProN, Helvetica Neue, Verdana, Meiryo, Yu Gothic, YuGothic, 'M+ 1p', sans-serif;
  max-width: 680px;
  margin: 0 auto;
}

p {
  font-weight: 300;
}

h1 {
  font-weight: 100;
}