body {
  font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', Hiragino Kaku Gothic ProN, Helvetica Neue, Verdana, Meiryo, Yu Gothic, YuGothic, 'M+ 1p', sans-serif;
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
}

h1 {
  font-weight: 100;
}